.main{
    background-color: #ffffff;
    height:100vh;
}

.card-container{
    background-color: #ffffff;
    height:60vh;
    width:90vw;
    border-radius: 10px;
    border:solid 1px;
    margin-bottom: 10px;
    padding:20px;
    text-align: center;
}

.heading{
    font-family: "Roboto";
    font-size: 26px;
    color: #080808;
    font-weight:700;
}

.image{
    height:30vh;
    width:30vh;
}

.paragraph{
    font-family: "Roboto";
    font-size:18px;
    color:#080808;


}